<div class="container">
    <div class="title">Registration fournisseur</div>
    <div class="content">
      <form [formGroup]="formfournisseur" novalidate>
        <div class="user-details">
          <div class="input-box" style="width: 100%;">
            <span class="details">Adresse</span>
            <input type="text" placeholder="Enter Adresse" formControlName="address" required>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Ville</span>
            <input type="text" placeholder="Enter Ville" formControlName="city" required>
          </div>
          <div class="input-box">
            <span class="details">Code Postale</span>
            <input type="text" placeholder="Enter Code Postale" formControlName="postalCode" required>
          </div>
          <div class="input-box">
            <span class="details">Pays</span>
            <input type="text" placeholder="Enter Pays" formControlName="country" required>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Activité</span>
            <input type="text" placeholder="Enter Activité" formControlName="activity" required>
          </div>
          <div class="input-box" style="width: 66%;">
            <span class="details">Responsable</span>
            <input type="text" placeholder="Enter Responsable" formControlName="responsible" required>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box" style="width: 100%;">
            <span class="details">Téléphone</span>
            <input type="text" placeholder="Enter Téléphone" formControlName="phone" required>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box" style="width: 49%;">
            <span class="details">Fax</span>
            <input type="text" placeholder="Enter Fax" formControlName="fax" required>
          </div>
          <div class="input-box" style="width: 49%;">
            <span class="details">E-mail</span>
            <input type="text" placeholder="Enter E-mail" formControlName="email" required>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box" style="width: 49%;">
            <span class="details">Banque</span>
            <input type="text" placeholder="Enter Banque" formControlName="bank" required>
          </div>
          <div class="input-box" style="width: 49%;">
            <span class="details">Domiciliasion</span>
            <input type="text" placeholder="Enter Domiciliasion" formControlName="domiciliation" required>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box" style="width: 100%;">
            <span class="details">RIB</span>
            <input type="text" placeholder="Enter RIB" formControlName="rib" required>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box" style="width: 50%;">
            <span class="details">Mat Fiscal</span>
            <input type="text" placeholder="Enter Mat Fiscal" formControlName="fiscalID" required>
          </div>
          <div class="user-details" style="width: 50%;display: flex;">
            <div class="input-box" style="width: 50%; display: flex;">
              <span class="details" style="min-width: 100%; text-align: center;margin-top: 10px; ">Assuqetti a la
                TVA</span>
              <input type="checkbox" formControlName="isVATSubject" required>
            </div>
            <div class="input-box" style="width: 48%;display: flex;">
              <span class="details" style="min-width: 100%; text-align: center;margin-top: 10px;">compte bloquer </span>
              <input type="checkbox"  formControlName="isBlockedAccount" required>
            </div>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box" style="width: 35%;">
            <span class="details">Paiement</span>
            <input type="text" placeholder="Enter Paiement" formControlName="payment" required>
          </div>
          <div class="input-box" style="width: 10%;">
            <span class="details">Nbre Jour</span>
            <input type="number" placeholder="Enter Nbre Jour" formControlName="daysCount" required>
          </div>
          <div class="user-details" style="width: 50%;display: flex;">
            <div class="input-box" style="width: 50%; display: flex;">
              <span class="details" style="min-width: 100%; text-align: center;margin-top: 10px; ">Exonération
                FDDEC</span>
              <input type="checkbox" formControlName="isFODECExemption" required>
            </div>
            <div class="input-box" style="width: 48%;display: flex;">
              <span class="details" style="min-width: 100%; text-align: center;margin-top: 10px;">Option 1 </span>
              <input type="checkbox"  formControlName="option1" required>
            </div>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box" style="width: 50%;">
            <span class="details">Délai</span>
            <div style="display: flex; align-items: center;">
              <input type="text" style="width: 50%;" placeholder="Enter Délai" formControlName="delay" required>
              <span class="details">Jour payer , avant de bloquer la facturation</span>
            </div>
  
          </div>
  
          <div class="user-details" style="width: 50%;display: flex;">
            <div class="input-box" style="width: 50%; display: flex;">
              <span class="details" style="min-width: 100%; text-align: center;margin-top: 10px; ">Exonération TVA</span>
              <input type="checkbox"  formControlName="isVATExemption" required>
            </div>
            <div class="input-box" style="width: 48%;display: flex;">
              <span class="details" style="min-width: 100%; text-align: center;margin-top: 10px;">Option 2 </span>
              <input type="checkbox"  formControlName="option2" required>
            </div>
          </div>
        </div>
        <div class="user-details">
          <div class="user-details" style="width: 48%;">
            <div class="input-box" style="width: 48%;">
              <span class="details">Type</span>
              <input type="text" placeholder="Enter Type" formControlName="type" required>
            </div>
            <div class="input-box" style="width: 50%;">
              <span class="details">Nature</span>
              <input type="text" placeholder="Enter Nature" formControlName="nature" required>
            </div>
          </div>
          <div class="user-details" style="width: 50%;display: flex;">
            <div class="input-box" style="width: 50%; display: flex;">
              <span class="details" style="min-width: 100%; text-align: center;margin-top: 10px; ">Exonération CICT</span>
              <input type="checkbox" formControlName="isCICTExemption" required>
            </div>
            <div class="input-box" style="width: 48%;display: flex;">
              <span class="details" style="min-width: 100%; text-align: center;margin-top: 10px;">Option 3 </span>
              <input type="checkbox" formControlName="option3" required>
            </div>
          </div>
        </div>
        <div class="user-details">
          <div class="user-details" style="width: 48%;">
            <div class="input-box" style="width: 48%;">
              <span class="details">accounting</span>
              <input type="text" placeholder="Enter Comptabilité" formControlName="accounting" required>
            </div>
            <div class="input-box" style="width: 50%;">
              <span class="details">devise</span>
              <input type="text" placeholder="Enter devise" formControlName="currency" required>
            </div>
          </div>
          <div class="user-details" style="width: 50%;display: flex;">
            <div class="input-box" style="width: 50%; display: flex;">
              <span class="details" style="min-width: 100%; text-align: center;margin-top: 10px; ">Exonération
                Timbre</span>
              <input type="checkbox"  formControlName="isStampExemption" required>
            </div>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box" style="width: 49%;">
            <span class="details">Agent</span>
            <input type="text" placeholder="Enter Agent" formControlName="agent" required>
          </div>
          <div class="input-box" style="width: 49%;">
            <span class="details">nom</span>
            <input type="text" placeholder=""
              style="background-color: rgba(0, 0, 0, 0.059);">
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-imprimer *ngIf="showcomposantImprimer"></app-imprimer>
  <app-suprimer-fournisseur *ngIf="showcomposantsupprimer"></app-suprimer-fournisseur>