<div class="menu">


    <div style="width: 100%;display: flex; justify-content: center; margin-top: -50px;">
        <img src="../assets/images/logo.png" alt="">
    </div>
    <h1 style="text-align: center; margin-bottom: 10px; color: rgba(0, 0, 0, 0.716);"><span style="color: rgba(0, 85, 255, 0.803);">B</span>einvenue
        <span style="color: rgba(0, 85, 255, 0.803);">M</span>.{{username}}</h1>
        <h2 style="text-align: center; margin-bottom: 80px;color: rgba(0, 0, 0, 0.571);"><span style="color: rgba(0, 85, 255, 0.803);">N</span>ous <span style="color: rgba(0, 85, 255, 0.803);">vous</span> souhaitons une <span style="color: rgba(0, 85, 255, 0.803);">bonne</span> journ<span style="color: rgba(0, 85, 255, 0.803);">ée</span> </h2>
    <div style="max-width: 95%; margin-left: 60px; display: flex;"
        class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div routerLink="/Menu/Burgers" class="card" style="width: 18rem;">
                <div style="display: flex; width: 100%; justify-content: center;margin-bottom: 50px; margin-top: 50px;">
                    <img style="width: 120px; height: 120px;" src="../assets/images/gestiondeStockIcon.png" class="card-img-top" alt="...">
                </div>
               
                <div class="card-body">
                    <h5 style="text-align: center;" class="card-title">Gestion De Stock</h5>
                </div>
            </div>
        </div>
      
        <div class="col">
            <div routerLink="/Registrationclient/RegistrationclientFiche" class="card" style="width: 18rem;">
                <div style="display: flex; width: 100%; justify-content: center;margin-bottom: 50px; margin-top: 50px;">
                    <img style="width: 120px; height: 120px;" src="../assets/images/gestionclientIcon.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 style="text-align: center;" class="card-title">Gestion des Clients</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div routerLink="/Modepaiement" class="card" style="width: 18rem;">
                <div style="display: flex; width: 100%; justify-content: center;margin-bottom: 50px; margin-top: 50px;">
                    <img style="width: 120px; height: 120px;" src="../assets/images/gestionPaiement.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 style="text-align: center;" class="card-title">Gestion de paiement</h5>
                </div>
            </div>
        </div>
      
        <div class="col">
            <div routerLink="/Registrationfamilles" class="card" style="width: 18rem;">
                <div style="display: flex; width: 100%; justify-content: center;margin-bottom: 50px; margin-top: 50px;">
                    <img style="width: 120px; height: 120px;" src="../assets/images/gestionfamilleIcons.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 style="text-align: center;" class="card-title">Gestion des Familles</h5>
                </div>
            </div>
        </div>
      
        <div class="col">
            <div routerLink="/Registrationmagasin" class="card" style="width: 18rem;">
                <div style="display: flex; width: 100%; justify-content: center;margin-bottom: 50px; margin-top: 50px;">
                    <img style="width: 120px; height: 120px;" src="../assets/images/gestionmagasinIcons.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 style="text-align: center;" class="card-title">Gestion des Magasins</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div routerLink="/RegistrationFournisseur/RegistrationFournisseurFiche" class="card" style="width: 18rem; margin-bottom: 20px;">
                <div style="display: flex; width: 100%; justify-content: center;margin-bottom: 50px; margin-top: 50px;">
                    <img style="width: 120px; height: 120px;" src="../assets/images/gestionfournisseurIcons.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 style="text-align: center;" class="card-title">Gestion De Fournisseur</h5>
                </div>
            </div>
        </div>
        <!-- <div class="col">
            <div routerLink="/RegistrationFournisseur/RegistrationFournisseurFiche" class="card" style="width: 18rem; margin-bottom: 20px;">
                <img src="../assets/images/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 style="text-align: center;" class="card-title">Card title</h5>
                </div>
            </div>
        </div> -->
    </div>
</div>