<div id="container">

    <div  style="width: 320px;display: flex;justify-content:space-between;height: 40px; background: linear-gradient(135deg, #74bff96a, #4a7ff1); ">
        <div class="logoApp" style="display: flex; align-items: center;">
            <img class="img1" src="../assets/images/logo.png" alt="">
            <h4 style="font-weight: bold; color: rgba(0, 0, 0, 0.655)"> <span style="color: rgb(0, 68, 255);">A</span>pp
                <span style="color: rgb(0, 68, 255);">Co</span>mmercial</h4>
        </div>

        <div style="display: flex; align-items: center; margin-right: 5px;">
            <button mat-raised-buttom class="btn btn-close" (click)="closepopup()"></button>
        </div>


    </div>
    <div class="sideItem">
        <a routerLink="/Menu/Burgers" class="button-77" role="button">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img class="img10" src="../assets/images/fournisseurIcon.png" alt="">
                <h6>Gestion De Stock</h6>
            </div>
        </a>
      
        <a routerLink="/Menu/Burgers" class="button-77" role="button">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img class="img10" src="../assets/images/fournisseurIcon.png" alt="">
                <h6>Gestion des Clients</h6>
            </div>
        </a>
        <a routerLink="/Menu/Burgers" class="button-77" role="button">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img class="img10" src="../assets/images/fournisseurIcon.png" alt="">
                <h6>Gestion  de paiement</h6>
            </div>
        </a>
        <a routerLink="/Menu/Burgers" class="button-77" role="button">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img class="img10" src="../assets/images/fournisseurIcon.png" alt="">
                <h6>Gestion des Familles</h6>
            </div>
        </a>
        <a routerLink="/Menu/Burgers" class="button-77" role="button">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img class="img10" src="../assets/images/fournisseurIcon.png" alt="">
                <h6>Gestion des Magasins</h6>
            </div>
        </a>
       
        <a routerLink="/Menu/Burgers" class="button-77" role="button">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img class="img10" src="../assets/images/fournisseurIcon.png" alt="">
                <h6>Gestion De Fournisseur</h6>
            </div>
        </a>
    </div>



</div>