<div class="partier">

    <a routerLink="/Menu/Tacos" class="button-77" role="button">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img style="filter: invert(35%) sepia(39%) saturate(3265%) hue-rotate(198deg) brightness(98%) contrast(99%);" src="../assets/images/nouveau.png" alt="">
            <h6>Nouveau</h6>
        </div>
    </a>
    <a class="button-77" role="button">
        <div (click)=" fournisseurData4()" style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/enregistrer.png" alt="">
            <h6>Enregistrer</h6>
        </div>
    </a>
    <a href="/RegistrationFournisseur/RegistrationFournisseurFiche" class="button-77" role="button">
        <div   style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/annuler.png" alt="">
            <h6>Annuler</h6>
        </div>
    </a>
    <a  class="button-77" role="button">
        <div (click)="closepopupsupprimer()"  style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/supprimer.png" alt="">
            <h6>Supprimer</h6>
        </div>
    </a>

    <a class="button-77" role="button">
        <div (click)="closepopuprechercher()" style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/rechercher.png" alt="">
            <h6>Rechercher</h6>
        </div>
    </a>
    <a class="button-77" role="button">
        <div (click)="closepopup()" style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/imprimer.png" alt="">
            <h6>Imprimer</h6>
        </div>
    </a>
    <div>
        <label for="exampleFormControlInput1" class="form-label" style="font-size: 20px ;">Code Facturation</label><br>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="code Facturation" >
    </div>

</div>