<div id="container">
  <div mat-dialog-actions
    style="width: 80%;display: flex;justify-content: space-between;height: 26px; background: linear-gradient(135deg, #4a7ff1, #74c0f9); ; position: fixed;">
    <div class="title" style="margin-left: 4px;">fiche de fournisseur (rechercher)</div>
    <button style="margin-top: 2px; ;" mat-raised-buttom class="btn btn-close" (click)="closepopup()"></button>
  </div>
  <div style="margin-top: 25px;">
    <ng-container *ngIf="fournisseurState$ | async as state" [ngSwitch]="state.dataState">
     
      <div style="width: 100%;height: 90vh; display: flex; justify-content: center; align-items: center;"
        *ngSwitchCase="fournisseurStateEnume.LOADING">
        <span class="loader"></span>
      </div>
      <ng-container *ngSwitchCase="fournisseurStateEnume.LOADED">
        <div *ngIf="daitaillefournisseur==0">
          <div *ngIf="state.fournisseur!=null">
            <div class="row">
              <div class="col">
                <div class="card shadow">
                  <div class="card-header border-0">
                    <h3 class="mb-0">liste de founisseur</h3>
                    <div style="width: 100%; display: flex;justify-content: center;">
                      <input class="form-control border-3" style="width: 60%;" type="text" placeholder="search"
                        [(ngModel)]="searchText">
                      <div class="btn btn-light" style="margin-left: 5px;" (click)="getFournisseurBycode()"> <img
                          src="../assets/images/rechercher.png" alt=""></div>
                    </div>

                  </div>
                  <div class="table-responsive" style="height: 75vh; max-height: 71.3vh ;">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">code</th>
                          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">companyName</th>
                          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">abbreviation</th>
                          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxCredit</th>
                          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxTerms</th>
                          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">inProgress</th>
                          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor=" let Client of state.fournisseur.suppliers">
                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                {{Client.code}}
                              </div>
                            </div>
                          </th>
                          <td>
                            {{Client.companyName}}
                          </td>
                          <td>
                            {{Client.abbreviation}}
                          </td>
                          <td>
                            <div class="avatar-group">
                              {{Client.maxCredit}}
                            </div>
                          </td>
                          <td>
                            <div class="d-flex align-items-center">
                          <td>{{Client.maxTerms}}</td>
                  </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">

                  <td>{{Client.inProgress}}</td>
                </div>
                </td>

                <td>
                  <div class="d-flex align-items-center">
                    <button (click)="showdaitailleFournisseur(Client.code)" class="btn btn-light">
                      <img src="../assets/images/yeuxicons.png" alt="">
                    </button>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <button (click)="showdaitailleFournisseurupdate(Client.code)" class="btn btn-light">
                      <img src="../assets/images/modifierIcons.png" alt="">
                    </button>
                  </div>
                </td>
                </tr>
                <tr>
                  </tbody>
                  </table>
              </div>
              <mat-paginator [length]="state.fournisseur.count" [pageSize]="nombrefournisseurDansUnPage"
                [pageIndex]="currentpage-1" (page)="onchangepage($event)"></mat-paginator>
              <div>
              </div>
            </div>
          </div>
        </div>


  </div>

  <div *ngIf="state.four">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0"> founisseur : {{state.four.companyName}}</h3>
            <div style="width: 100%; display: flex;justify-content: center;">
              <input class="form-control border-3" style="width: 60%;" type="text" placeholder="search"
                [(ngModel)]="searchText">
              <div class="btn btn-light" style="margin-left: 5px;" (click)="getFournisseurBycode()"> <img
                  src="../assets/images/rechercher.png" alt=""></div>
            </div>

          </div>
          <div class="table-responsive" style="height: 77.8vh; max-height: 69vh ;">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">code</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">companyName</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">abbreviation</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxCredit</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxTerms</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">inProgress</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col"></th>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        {{state.four.code}}
                      </div>
                    </div>
                  </th>
                  <td>
                    {{state.four.companyName}}
                  </td>
                  <td>
                    {{state.four.abbreviation}}
                  </td>
                  <td>
                    <div class="avatar-group">
                      {{state.four.maxCredit}}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                  <td>{{state.four.maxTerms}}</td>
          </div>
          </td>
          <td>
            <div class="d-flex align-items-center">

          <td>{{state.four.inProgress}}</td>
        </div>
        </td>

        <td>
          <div class="d-flex align-items-center">
            <button (click)="showdaitailleFournisseur(state.four.code)" class="btn btn-light">
              <img src="../assets/images/yeuxicons.png" alt="">
            </button>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <button (click)="showdaitailleFournisseurupdate(state.four.code)" class="btn btn-light">
              <img src="../assets/images/modifierIcons.png" alt="">
            </button>
          </div>
        </td>
        </tr>
        <tr>
          </tbody>
          </table>
      </div>
      <div style="width: 100%; display: flex; justify-content: end;">
        <a class="button-77" role="button">
          <div (click)="retourner()" style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/retournericon.png" alt="">
            <h6>Retourner</h6>
          </div>
        </a>

      </div>

      <div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
<div *ngIf="daitaillefournisseur==1">

  <div *ngIf="state.four">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0"> founisseur : {{state.four.companyName}}</h3>
            <div style="width: 100%; display: flex;justify-content: center;">
              <input class="form-control border-3" style="width: 60%;" type="text" placeholder="search"
                [(ngModel)]="searchText">
              <div class="btn btn-light" style="margin-left: 5px;" (click)="getFournisseurBycode()"> <img
                  src="../assets/images/rechercher.png" alt=""></div>
            </div>

          </div>
          <div class="table-responsive" style="height: 77.8vh; max-height: 69vh ;">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">code</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">companyName</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">abbreviation</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxCredit</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxTerms</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">inProgress</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{state.four.code}}
                  </td>
                  <td>
                    {{state.four.companyName}}
                  </td>
                  <td>
                    {{state.four.abbreviation}}
                  </td>
                  <td>
                    <div class="avatar-group">
                      {{state.four.maxCredit}}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                  <td>{{state.four.maxTerms}}</td>
          </div>
          </td>
          <td>
            <div class="d-flex align-items-center">

          <td>{{state.four.inProgress}}</td>
        </div>
        </td>
        </tr>
        <tr>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">address</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">city</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">postal Code</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">country</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">activity</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">responsible</th>
        </tr>
        <tr>
          <td>
            {{state.four.address}}
          </td>
          <td>
            {{state.four.city}}
          </td>
          <td>
            {{state.four.postalCode}}
          </td>
          <td>
            <div class="avatar-group">
              {{state.four.country}}
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
          <td>{{state.four.activity}}</td>
      </div>
      </td>
      <td>
        <div class="d-flex align-items-center">

      <td>{{state.four.responsible}}</td>
    </div>
    </td>
    </tr>
    <tr>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">phone</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">fax</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">email</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">bank</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">rib</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">domiciliation</th>
    </tr>
    <tr>
      <td>
        {{state.four.phone}}
      </td>
      <td>
        {{state.four.fax}}
      </td>
      <td>
        {{state.four.email}}
      </td>
      <td>
        <div class="avatar-group">
          {{state.four.bank}}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
      <td>{{state.four.rib}}</td>
  </div>
  </td>
  <td>
    <div class="d-flex align-items-center">

  <td>{{state.four.domiciliation}}</td>
</div>
</td>
</tr>
<tr>
<tr>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">fiscalID</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">payment</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">daysCount</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">delay</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">type</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">accounting</th>
</tr>
<tr>
  <td>
    {{state.four.fiscalID}}
  </td>
  <td>
    {{state.four.payment}}
  </td>
  <td>
    {{state.four.daysCount}}
  </td>
  <td>
    <div class="avatar-group">
      {{state.four.delay}}
    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
  <td>{{state.four.type}}</td>
  </div>
  </td>
  <td>
    <div class="d-flex align-items-center">

  <td>{{state.four.accounting}}</td>
  </div>
  </td>
</tr>
<tr>
<tr>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">nature</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">currency</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">agent</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isVATSubject</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isBlockedAccount</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isFODECExemption</th>
</tr>
<tr>
  <td>
    {{state.four.nature}}
  </td>
  <td>
    {{state.four.currency}}
  </td>
  <td>
    {{state.four.agent}}
  </td>
  <td>
    <div class="avatar-group">
      {{state.four.isVATSubject}}
    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
  <td>{{state.four.isBlockedAccount}}</td>
  </div>
  </td>
  <td>
    <div class="d-flex align-items-center">

  <td>{{state.four.isFODECExemption}}</td>
  </div>
  </td>
</tr>
<tr>
<tr>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isVATExemption</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isCICTExemption</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isStampExemption</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">option1</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">option2</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">option3</th>
</tr>
<tr>
  <td>
    {{state.four.isVATExemption}}
  </td>
  <td>
    {{state.four.isCICTExemption}}
  </td>
  <td>
    {{state.four.isStampExemption}}
  </td>
  <td>
    <div class="avatar-group">
      {{state.four.option1}}
    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
  <td>{{state.four.option2}}</td>
  </div>
  </td>
  <td>
    <div class="d-flex align-items-center">

  <td>{{state.four.option3}}</td>
  </div>
  </td>
</tr>
</tbody>
</table>




</div>



<div>
</div>
<div style="width: 100%; display: flex; justify-content: end;">
  <a class="button-77" role="button">
    <div (click)="retourner()" style="display: flex; justify-content: center; align-items: center;">
      <img src="../assets/images/retournericon.png" alt="">
      <h6>Retourner</h6>
    </div>
  </a>

</div>
</div>


</div>

</div>

</div>

</div>
<div *ngIf="daitaillefournisseur==2">
  <ng-container *ngSwitchCase="fournisseurStateEnume.LOADED">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0"> founisseur : {{state.four.companyName}}</h3>
            <div style="width: 100%; display: flex;justify-content: center;">
              <input class="form-control border-3" style="width: 60%;" type="text" placeholder="search"
                [(ngModel)]="searchText">
              <div class="btn btn-light" style="margin-left: 5px;" (click)="getFournisseurBycode()"> <img
                  src="../assets/images/rechercher.png" alt=""></div>
            </div>

          </div>

          <div class="table-responsive" style="height: 77.8vh; max-height: 69vh ;">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">code</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">companyName</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">abbreviation</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxCredit</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxTerms</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">inProgress</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="user-details">
                      <div class="input-box">

                        <input type="text"  [(ngModel)]="code" required>

                      </div>
                    </div>

                  </td>
                  <td>
                    <div class="user-details">
                      <div class="input-box">

                        <input type="text" [(ngModel)]="companyName" required>

                      </div>
                    </div>

                  </td>
                  <td>
                    <div class="user-details">
                      <div class="input-box">

                        <input type="text" [(ngModel)]="abbreviation" required>

                      </div>
                    </div>

                  </td>
                  <td>
                    <div class="user-details">
                      <div class="input-box">

                        <input type="text" [(ngModel)]="maxCredit" required>

                      </div>
                    </div>




                  </td>


                  <td>
                    <div class="user-details">
                      <div class="input-box">

                        <input type="text" [(ngModel)]="maxTerms" required>

                      </div>
                    </div>

                  </td>



                  <td>
                    <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
                      <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                        [checked]="state.four.inProgress" [(ngModel)]="inProgress">

                    </div>

                  </td>


                </tr>
                <tr>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">address</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">city</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">postal Code</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">country</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">activity</th>
                  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">responsible</th>
                </tr>
                <tr>
                  <td>
                    <div class="user-details">
                      <div class="input-box">

                        <input type="text" [(ngModel)]="address"  required>

                      </div>
                    </div>

                  </td>
                  <td>
                    <div class="user-details">
                      <div class="input-box">

                        <input type="text" [(ngModel)]="city"  required>

                      </div>
                    </div>

                  </td>
                  <td>
                    <div class="user-details">
                      <div class="input-box">

                        <input type="text" [(ngModel)]="postalCode"  required>

                      </div>
                    </div>

                  </td>
                  <td>
                    <div class="user-details">
                      <div class="input-box">

                        <input type="text" [(ngModel)]="country"  required>

                      </div>
                    </div>

                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                  <td>
                    <div class="user-details">
                      <div class="input-box">

                        <input type="text" [(ngModel)]="activity"  required>

                      </div>
                    </div>

                  </td>
          </div>
          </td>
          <td>
            <div class="d-flex align-items-center">

          <td>
            <div class="user-details">
              <div class="input-box">

                <input type="text" [(ngModel)]="responsible"  required>

              </div>
            </div>

          </td>
        </div>
        </td>
        </tr>
        <tr>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">phone</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">fax</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">email</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">bank</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">rib</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">domiciliation</th>
        </tr>
        <tr>
          <td>
            <div class="user-details">
              <div class="input-box">

                <input type="text" [(ngModel)]="phone"  required>

              </div>
            </div>


          </td>
          <td>
            <div class="user-details">
              <div class="input-box">

                <input type="text" [(ngModel)]="fax"  required>

              </div>
            </div>

          </td>
          <td>
            <div class="user-details">
              <div class="input-box">

                <input type="text" [(ngModel)]="email"  required>

              </div>
            </div>

          </td>
          <td>
            <div class="avatar-group">
              <div class="user-details">
                <div class="input-box">

                  <input type="text" [(ngModel)]="bank"  required>

                </div>
              </div>

            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
          <td>
            <div class="user-details">
              <div class="input-box">

                <input type="text" [(ngModel)]="rib"  required>

              </div>
            </div>

          </td>
      </div>
      </td>
      <td>
        <div class="d-flex align-items-center">

      <td>
        <div class="user-details">
          <div class="input-box">

            <input type="text" [(ngModel)]="domiciliation"  required>

          </div>
        </div>

      </td>
    </div>
    </td>
    </tr>
    <tr>
    <tr>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">fiscalID</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">payment</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">daysCount</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">delay</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">type</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">accounting</th>
    </tr>
    <tr>
      <td>
        <div class="user-details">
          <div class="input-box">

            <input type="text" [(ngModel)]="fiscalID"  required>

          </div>
        </div>

      </td>
      <td>
        <div class="user-details">
          <div class="input-box">

            <input type="text" [(ngModel)]="payment"  required>

          </div>
        </div>

      </td>
      <td>
        <div class="user-details">
          <div class="input-box">

            <input type="text" [(ngModel)]="daysCount"  required>

          </div>
        </div>

      </td>
      <td>
        <div class="avatar-group">
          <div class="user-details">
            <div class="input-box">

              <input type="text" [(ngModel)]="delay"  required>

            </div>
          </div>

        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
      <td>
        <div class="user-details">
          <div class="input-box">

            <input type="text" [(ngModel)]="type"  required>

          </div>
        </div>
      </td>
  </div>
  </td>
  <td>
    <div class="d-flex align-items-center">

  <td>
    <div class="user-details">
      <div class="input-box">

        <input type="text" [(ngModel)]="accounting"  required>

      </div>
    </div>

  </td>
</div>
</td>
</tr>
<tr>
<tr>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">nature</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">currency</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">agent</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isVATSubject</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isBlockedAccount</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isFODECExemption</th>
</tr>
<tr>
  <td>
    <div class="user-details">
      <div class="input-box">

        <input type="text" [(ngModel)]="nature"  required>

      </div>
    </div>

  </td>
  <td>
    <div class="user-details">
      <div class="input-box">

        <input type="text" [(ngModel)]="currency"  required>

      </div>
    </div>

  </td>
  <td>
    <div class="user-details">
      <div class="input-box">

        <input type="text" [(ngModel)]="agent"  required>

      </div>
    </div>

  </td>
  <td>
    <div class="avatar-group">
      <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
          [checked]="state.four.isVATSubject" [(ngModel)]="isVATSubject" >

      </div>

    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
  <td>
    <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
      <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
        [checked]="state.four.isBlockedAccount"  [(ngModel)]="isBlockedAccount">

    </div>

  </td>
  </div>
  </td>
  <td>
    <div class="d-flex align-items-center">

  <td>
    <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
      <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
        [checked]="state.four.isFODECExemption" [(ngModel)]="isFODECExemption">

    </div>

  </td>
  </div>
  </td>
</tr>
<tr>
<tr>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isVATExemption</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isCICTExemption</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isStampExemption</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">option1</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">option2</th>
  <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">option3</th>
</tr>
<tr>
  <td>
    <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
      <input class="form-check-input" type="checkbox" id="flexCheckDefault"
        [checked]="state.four.isVATExemption" [(ngModel)]="isVATExemption">

    </div>

  </td>
  <td>
    <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
      <input class="form-check-input" type="checkbox" id="flexCheckDefault"
        [checked]="state.four.isCICTExemption" [(ngModel)]="isCICTExemption">

    </div>

  </td>
  <td>
    <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
      <input class="form-check-input" type="checkbox" id="flexCheckDefault"
        [checked]="state.four.isStampExemption" [(ngModel)]="isStampExemption">

    </div>

  </td>
  <td>
    <div class="avatar-group">
      <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
          [checked]="state.four.option1" [(ngModel)]="option1">

      </div>

    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
  <td>
    <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
      <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
        [checked]="state.four.option2" [(ngModel)]="option2">

    </div>

  </td>
  </div>
  </td>
  <td>
    <div class="d-flex align-items-center">

  <td>
    <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
      <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
        [checked]="state.four.option3" [(ngModel)]="option3">

    </div>
  </td>
  </div>
  </td>
</tr>
</tbody>
</table>




</div>



<div>
</div>
<div style="width: 100%; display: flex; justify-content: end;">
  <a class="button-77" role="button">
    <div (click)="modifierFournisseur()" style="display: flex; justify-content: center; align-items: center;">
      <img src="../assets/images/retournericon.png" alt="">
      <h6>modifier</h6>
    </div>
  </a>
  <a class="button-77" role="button">
    <div (click)="retourner()" style="display: flex; justify-content: center; align-items: center;">
      <img src="../assets/images/retournericon.png" alt="">
      <h6>Retourner</h6>
    </div>
  </a>

</div>
</div>


</div>

</div>
  </ng-container>


<div style="width: 100%;height: 90vh; display: flex; justify-content: center; align-items: center;"
        *ngSwitchCase="fournisseurStateEnume.LOADING">
        <span class="loader"></span>
      </div>
     
    </div>
    <div *ngIf="daitaillefournisseur==3">
      <ng-container *ngSwitchCase="fournisseurStateEnume.LOADED">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </symbol>
          <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </symbol>
          <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </symbol>
        </svg>
        <div class="alert alert-success hide-alert" style="position: fixed; height: 80px; display: flex;  align-items: center; justify-content: center; top:0; right: 45%; " role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            Votre modification a été effectué avec succès
          </div>
        </div>
    
    
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0"> founisseur : {{state.four.companyName}}</h3>
                <div style="width: 100%; display: flex;justify-content: center;">
                  <input class="form-control border-3" style="width: 60%;" type="text" placeholder="search"
                    [(ngModel)]="searchText">
                  <div class="btn btn-light" style="margin-left: 5px;" (click)="getFournisseurBycode()"> <img
                      src="../assets/images/rechercher.png" alt=""></div>
                </div>
    
              </div>
    
              <div class="table-responsive" style="height: 77.8vh; max-height: 69vh ;">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">code</th>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">companyName</th>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">abbreviation</th>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxCredit</th>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxTerms</th>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">inProgress</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="user-details">
                          <div class="input-box">
    
                            <input type="text"  [(ngModel)]="code" required>
    
                          </div>
                        </div>
    
                      </td>
                      <td>
                        <div class="user-details">
                          <div class="input-box">
    
                            <input type="text" [(ngModel)]="companyName" required>
    
                          </div>
                        </div>
    
                      </td>
                      <td>
                        <div class="user-details">
                          <div class="input-box">
    
                            <input type="text" [(ngModel)]="abbreviation" required>
    
                          </div>
                        </div>
    
                      </td>
                      <td>
                        <div class="user-details">
                          <div class="input-box">
    
                            <input type="text" [(ngModel)]="maxCredit" required>
    
                          </div>
                        </div>
    
    
    
    
                      </td>
    
    
                      <td>
                        <div class="user-details">
                          <div class="input-box">
    
                            <input type="text" [(ngModel)]="maxTerms" required>
    
                          </div>
                        </div>
    
                      </td>
    
    
    
                      <td>
                        <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                            [checked]="state.four.inProgress" [(ngModel)]="inProgress">
    
                        </div>
    
                      </td>
    
    
                    </tr>
                    <tr>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">address</th>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">city</th>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">postal Code</th>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">country</th>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">activity</th>
                      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">responsible</th>
                    </tr>
                    <tr>
                      <td>
                        <div class="user-details">
                          <div class="input-box">
    
                            <input type="text" [(ngModel)]="address"  required>
    
                          </div>
                        </div>
    
                      </td>
                      <td>
                        <div class="user-details">
                          <div class="input-box">
    
                            <input type="text" [(ngModel)]="city"  required>
    
                          </div>
                        </div>
    
                      </td>
                      <td>
                        <div class="user-details">
                          <div class="input-box">
    
                            <input type="text" [(ngModel)]="postalCode"  required>
    
                          </div>
                        </div>
    
                      </td>
                      <td>
                        <div class="user-details">
                          <div class="input-box">
    
                            <input type="text" [(ngModel)]="country"  required>
    
                          </div>
                        </div>
    
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                      <td>
                        <div class="user-details">
                          <div class="input-box">
    
                            <input type="text" [(ngModel)]="activity"  required>
    
                          </div>
                        </div>
    
                      </td>
              </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
    
              <td>
                <div class="user-details">
                  <div class="input-box">
    
                    <input type="text" [(ngModel)]="responsible"  required>
    
                  </div>
                </div>
    
              </td>
            </div>
            </td>
            </tr>
            <tr>
              <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">phone</th>
              <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">fax</th>
              <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">email</th>
              <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">bank</th>
              <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">rib</th>
              <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">domiciliation</th>
            </tr>
            <tr>
              <td>
                <div class="user-details">
                  <div class="input-box">
    
                    <input type="text" [(ngModel)]="phone"  required>
    
                  </div>
                </div>
    
    
              </td>
              <td>
                <div class="user-details">
                  <div class="input-box">
    
                    <input type="text" [(ngModel)]="fax"  required>
    
                  </div>
                </div>
    
              </td>
              <td>
                <div class="user-details">
                  <div class="input-box">
    
                    <input type="text" [(ngModel)]="email"  required>
    
                  </div>
                </div>
    
              </td>
              <td>
                <div class="avatar-group">
                  <div class="user-details">
                    <div class="input-box">
    
                      <input type="text" [(ngModel)]="bank"  required>
    
                    </div>
                  </div>
    
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
              <td>
                <div class="user-details">
                  <div class="input-box">
    
                    <input type="text" [(ngModel)]="rib"  required>
    
                  </div>
                </div>
    
              </td>
          </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
    
          <td>
            <div class="user-details">
              <div class="input-box">
    
                <input type="text" [(ngModel)]="domiciliation"  required>
    
              </div>
            </div>
    
          </td>
        </div>
        </td>
        </tr>
        <tr>
        <tr>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">fiscalID</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">payment</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">daysCount</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">delay</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">type</th>
          <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">accounting</th>
        </tr>
        <tr>
          <td>
            <div class="user-details">
              <div class="input-box">
    
                <input type="text" [(ngModel)]="fiscalID"  required>
    
              </div>
            </div>
    
          </td>
          <td>
            <div class="user-details">
              <div class="input-box">
    
                <input type="text" [(ngModel)]="payment"  required>
    
              </div>
            </div>
    
          </td>
          <td>
            <div class="user-details">
              <div class="input-box">
    
                <input type="text" [(ngModel)]="daysCount"  required>
    
              </div>
            </div>
    
          </td>
          <td>
            <div class="avatar-group">
              <div class="user-details">
                <div class="input-box">
    
                  <input type="text" [(ngModel)]="delay"  required>
    
                </div>
              </div>
    
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
          <td>
            <div class="user-details">
              <div class="input-box">
    
                <input type="text" [(ngModel)]="type"  required>
    
              </div>
            </div>
          </td>
      </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
    
      <td>
        <div class="user-details">
          <div class="input-box">
    
            <input type="text" [(ngModel)]="accounting"  required>
    
          </div>
        </div>
    
      </td>
    </div>
    </td>
    </tr>
    <tr>
    <tr>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">nature</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">currency</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">agent</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isVATSubject</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isBlockedAccount</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isFODECExemption</th>
    </tr>
    <tr>
      <td>
        <div class="user-details">
          <div class="input-box">
    
            <input type="text" [(ngModel)]="nature"  required>
    
          </div>
        </div>
    
      </td>
      <td>
        <div class="user-details">
          <div class="input-box">
    
            <input type="text" [(ngModel)]="currency"  required>
    
          </div>
        </div>
    
      </td>
      <td>
        <div class="user-details">
          <div class="input-box">
    
            <input type="text" [(ngModel)]="agent"  required>
    
          </div>
        </div>
    
      </td>
      <td>
        <div class="avatar-group">
          <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
              [checked]="state.four.isVATSubject" [(ngModel)]="isVATSubject" >
    
          </div>
    
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
      <td>
        <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
          <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
            [checked]="state.four.isBlockedAccount"  [(ngModel)]="isBlockedAccount">
    
        </div>
    
      </td>
      </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
    
      <td>
        <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
          <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
            [checked]="state.four.isFODECExemption" [(ngModel)]="isFODECExemption">
    
        </div>
    
      </td>
      </div>
      </td>
    </tr>
    <tr>
    <tr>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isVATExemption</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isCICTExemption</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">isStampExemption</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">option1</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">option2</th>
      <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">option3</th>
    </tr>
    <tr>
      <td>
        <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
          <input class="form-check-input" type="checkbox" id="flexCheckDefault"
            [checked]="state.four.isVATExemption" [(ngModel)]="isVATExemption">
    
        </div>
    
      </td>
      <td>
        <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
          <input class="form-check-input" type="checkbox" id="flexCheckDefault"
            [checked]="state.four.isCICTExemption" [(ngModel)]="isCICTExemption">
    
        </div>
    
      </td>
      <td>
        <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
          <input class="form-check-input" type="checkbox" id="flexCheckDefault"
            [checked]="state.four.isStampExemption" [(ngModel)]="isStampExemption">
    
        </div>
    
      </td>
      <td>
        <div class="avatar-group">
          <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
              [checked]="state.four.option1" [(ngModel)]="option1">
    
          </div>
    
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
      <td>
        <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
          <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
            [checked]="state.four.option2" [(ngModel)]="option2">
    
        </div>
    
      </td>
      </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
    
      <td>
        <div class="form-check" style=" width: 100%; display: flex;justify-content: center; ">
          <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
            [checked]="state.four.option3" [(ngModel)]="option3">
    
        </div>
      </td>
      </div>
      </td>
    </tr>
    </tbody>
    </table>
    
    
    
    
    </div>
    
    
    
    <div>
    </div>
    <div style="width: 100%; display: flex; justify-content: end;">
      <a class="button-77" role="button">
        <div (click)="modifierFournisseur()" style="display: flex; justify-content: center; align-items: center;">
          <img src="../assets/images/retournericon.png" alt="">
          <h6>modifier</h6>
        </div>
      </a>
      <a class="button-77" role="button">
        <div (click)="retourner()" style="display: flex; justify-content: center; align-items: center;">
          <img src="../assets/images/retournericon.png" alt="">
          <h6>Retourner</h6>
        </div>
      </a>
    
    </div>
    </div>
    
    
    </div>
    
    </div>
    
    
    
    </ng-container>
    

    </div>








<!-- Dark table -->