<div id="container">
    <div mat-dialog-actions
        style="width: 79%;display: flex;justify-content: space-between;height: 26px; background: linear-gradient(135deg, #4a7ff1, #74c0f9); ; position: fixed;">
        <div class="title" style="margin-left: 4px;">fiche de client (impression)</div>
        <button style="margin-top: 2px; ;" mat-raised-buttom class="btn btn-close" (click)="closepopup()"></button>
    </div>
    <ng-container *ngIf="clientState$ | async as state" [ngSwitch]="state.dataState">
        

    <div class="container">
        <ng-container *ngSwitchCase="fournisseurStateEnume.INITIAL">
        <div *ngIf="page==1" class="content">
            <form [formGroup]="formImprimer" novalidate>
                <div class="user-details">
                    <div class="input-box" style="width: 20%;">
                        <span class="details">Du</span>
                        <input type="number" placeholder="code" formControlName="fromCode" required>
                    </div>
                    <div class="input-box" style="width: 60%;">
                        <span class="details">Raison Sociale/Nom</span>
                        <input type="text" style="background-color: rgba(0, 0, 0, 0.059);">
                    </div>
                    <div class="input-box" style="width: 19%;">
                        <select style="width: 100%;" class="select" aria-label="Default select example"
                            formControlName="sortQuery">
                            <option disabled hidden selected value="">Ordre de trie</option>
                            <option value="code">code</option>
                            <option value="city">city</option>
                            <option value="country">country</option>
                            <option value="activity">activity</option>
                            <option value="payment">payment</option>
                            <option value="postalCode">postalCode</option>
                            <option value="type">type</option>
                            <option value="nature">nature</option>
                            <option value="bank">bank</option>
                            <option value="isVATSubject">isVATSubject</option>
                            <option value="isBlockedAccount">isBlockedAccount</option>
                            <option value="agent">agent</option>
                        </select>
                    </div>
                </div>
                <div class="user-details">
                    <div class="input-box" style="width: 20%;">
                        <span class="details">Au</span>
                        <input type="number" placeholder="code" formControlName="toCode" required>
                    </div>
                    <div class="input-box" style="width: 55%;">
                        <span class="details"></span>
                        <input type="text" style="background-color: rgba(0, 0, 0, 0.059);margin-top: 24px;">
                    </div>
                    <div class="input-box" style="width: 24%; display: flex; align-items: center; margin-top: 30px; ">
                        <input style="width: 10%; margin-left: 80px;" type="checkbox" placeholder="Enter ton nom"
                            formControlName="code" required>
                        <span class="details" style="margin-left: 20px;">Exonération CICT</span>
                    </div>
                </div>
                <div class="user-details">
                    <div class="input-box" style="width: 39%;">
                        <span class="details">Agent</span>
                        <input type="text" placeholder="Enter ton nom" formControlName="agent" required>
                    </div>
                    <div class="input-box" style="width: 60%;">
                        <span class="details">Nom</span>
                        <input type="text" style="background-color: rgba(0, 0, 0, 0.059);">
                    </div>

                </div>
                <div class="user-details" style="width: 70%;">
                    <div class="input-box" style="width: 50%;">
                        <span class="details">Ville</span>
                        <input type="text" placeholder="Enter ton nom" formControlName="city" required>
                    </div>
                    <div class="input-box" style="width: 30%;">
                        <span class="details">Code Postale</span>
                        <input type="text" placeholder="Enter ton nom" formControlName="postalCode" required>
                    </div>

                </div>
                <div class="user-details" style="width: 100%;">
                    <div class="user-details" style="width: 70%;">
                        <div class="input-box" style="width: 50%;">
                            <span class="details">Pays</span>
                            <input type="text" placeholder="code" formControlName="country" required>
                        </div>
                        <div class="input-box" style="width: 30%;">
                            <span class="details">Type</span>
                            <input type="text" placeholder="Enter ton nom" formControlName="type" required>
                        </div>
                    </div>
                    <div class="user-details" style="width: 30%;">
                        <div class="input-box">
                            <select style="width: 180px; margin-left: 120px;" class="select"
                                aria-label="Default select example">
                                <option disabled hidden selected value="">Model</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="user-details" style="width: 70%;">
                    <div class="input-box" style="width: 50%;">
                        <span class="details">Activité</span>
                        <input type="text" placeholder="Enter ton nom" formControlName="activity" required>
                    </div>
                    <div class="input-box" style="width: 30%;">
                        <span class="details">Nature</span>
                        <input type="text" placeholder="Enter ton nom" formControlName="nature" required>
                    </div>

                </div>
                <div class="user-details" style="width: 70%;">
                    <div class="input-box" style="width: 50%;">
                        <span class="details">Paiement</span>
                        <input type="text" placeholder="Enter ton nom" formControlName="payment" required>
                    </div>
                    <div class="input-box" style="width: 30%;">
                        <span class="details">Banque</span>
                        <input type="text" placeholder="Enter ton nom" formControlName="banke" required>
                    </div>

                </div>
                <div class="user-details" style="width: 70%;">
                    <div class="input-box" style="width: 50%;">
                        <select style="width: 100%;" class="select" aria-label="Default select example">
                            <option disabled hidden selected value="">Assujetti a la TVA</option>
                        </select>
                    </div>
                    <div class="input-box" style="width: 30%;">
                        <select style="width: 100%;" class="select" aria-label="Default select example">
                            <option disabled hidden selected value="">Bloquer</option>
                        </select>
                    </div>

                </div>
                <div style="width: 100%; display: flex; justify-content: end;">
                    <a class="button-77" role="button">
                        <div (click)="imprimer()" style="display: flex; justify-content: center; align-items: center;">
                            <img src="../assets/images/imprimer.png" alt="">
                            <h6>Imprimer</h6>
                        </div>
                    </a>
                    <a class="button-77" role="button">
                        <div (click)="closepopup()"
                            style="display: flex; justify-content: center; align-items: center;">
                            <img src="../assets/images/quitter.png" alt="">
                            <h6>Quitter</h6>
                        </div>
                    </a>
                </div>


            </form>
        </div>
    </ng-container>
    <div style="width: 100%;height: 90vh; display: flex; justify-content: center; align-items: center;"
        *ngSwitchCase="fournisseurStateEnume.LOADING">
        <span class="loader"></span>
      </div>
      <ng-container *ngSwitchCase="fournisseurStateEnume.LOADED">
        <div *ngIf="page==2">
            <div style="margin-top: 3px;" class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <h3 class="mb-0">donner a imprimer</h3>
                        </div>
                        <div class="table-responsive" style="height: 73vh;width: 100%;">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">code</th>
                                        <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">companyName
                                        </th>
                                        <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">abbreviation
                                        </th>
                                        <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxCredit
                                        </th>
                                        <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">maxTerms</th>
                                        <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col">inProgress
                                        </th>
                                        <th style="background-color: rgba(12, 12, 12, 0.237);" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor=" let Client of state.client.data.clients">
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    {{Client.code}}
                                                </div>
                                            </div>
                                        </th>
                                        <td>
                                            {{Client.companyName}}
                                        </td>
                                        <td>
                                            {{Client.abbreviation}}
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                                {{Client.maxCredit}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                        <td>{{Client.maxTerms}}</td>
                        </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">

                        <td>{{Client.inProgress}}</td>
                    </div>
                    </td>


                    </tr>
                    <tr>
                        </tbody>
                        </table>
                </div>

                <div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; display: flex; justify-content: end;">
        <a class="button-77" role="button" >
            <div (click)="imprimer2()" style="display: flex; justify-content: center; align-items: center;">
                <img src="../assets/images/imprimer.png" alt="">
                <h6>Imprimer</h6>
            </div>
        </a>
        <a class="button-77" role="button" >
            <div (click)="closepopup()" style="display: flex; justify-content: center; align-items: center;">
                <img src="../assets/images/quitter.png" alt="">
                <h6>Quitter</h6>
            </div>
        </a>
    </div>
</div>
</ng-container>

</div>
</ng-container>

</div>